@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
}  

.container {
  display: grid;
  margin: 150px;
  height: auto;
  width: 1100px;
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  border:5px solid black;
  
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  border-radius: 15px;
  background-color: #E0E9F2;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


.avatar-img {
  width: 125px;
  height: 125px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  border: 4px solid black;
}

.cross-icon {
  margin-left: auto;
  cursor: pointer;
}

.card-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.connections {
  display: flex;
  flex-direction: column;
  align-items: center;  
  border-radius: 10px;
  background-color: #F6A608;
  padding: 10px 20px;
  color: white;
  font-family: 'Roboto Mono', monospace;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.connections h1 {
  font-size: 25px;
}

.connections h3 {
  font-size: 15px;
}
.connect-btn {
  color: #FFF;
  background-color: black;
  /* border: 2px solid rgb(216, 2, 134); */
  border: none;
  border-radius: 10px;
  padding: 9px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  /* box-shadow: inset 0 0 0 0 #D80286; */
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  margin-top: 10px;
}

.connect-btn:hover {
  box-shadow: inset 400px 0 0 0 hsl(205, 98%, 43%);
}

.retailer-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.retailer-data h1 {
  font-size: 25px;
}

.retailer-data h3 {
  font-size: 15px;
}

.no-suggestions {
  font-size: 20px;
}